docs/build
*pyc

# documentation artifacts
html/*
!html/HTML_DOCS_WILL_BE_GENERATED_HERE

# otherwise CI thinks index not clean
*.resolved
*.bag
assets/jupyter/.ipynb_checkpoints/model1-checkpoint.jpynb
assets/jupyter/.ipynb_checkpoints/model1-checkpoint.ipynb
